.app-header {
  display: flex;
  padding: 10px 15%;
  align-items: center;
  background-color: var(--palette-default);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.header-logo {
  display: inline-flex;
  width: 40px;
  height: 40px;
  border-radius: 3px;
}

.header-nav {
  display: inline-flex;
  width: 100%;
}

.list-nav {
  display: flex;
  gap: 20px;
}
.left-nav {
  margin-right: auto;
}

.list-nav a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: var(--palette-tipography);
}

.list-nav li{
  list-style: none;
}
.cart{
  height: 30px;
  position: absolute;
}
.cart_counter{
  position: absolute;
  z-index: 1;
  font-size: 12px;
  margin-top: 4px;
  margin-left: 12px;
  background-color: var(--palette-default-ligth);
  padding: 2px 2px 1px 1px;
  border-radius: 50%;
  line-height: 1;
  width: 12px;
  text-align: center;
}

.sc_icon_holder{
  width: 36px;
}