.footer_holder {
  height: 50px;
  width: 100%;
  background-color: var(--palette-default);
  border-radius: 50px 50px 0 0;
  position: relative;
  bottom: 0;
}

.footer {
  width: 70%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
  margin: 0 auto;
}
